
.mainContainer{
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.header{
    height: 10vh;
}
.nav-wrapper{
    height: 10vh;
    width: 100vw;
}
.card-image{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr; 
    align-items: center;
    justify-items: center;
}
.subContainer{
    width: 100vw;
    display: flex;
     flex-wrap: wrap;
    
}
.card{
    width: 500px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 10px !important;
}